$light_green: rgb(126, 213, 111);
$med_green: #55c57a;
$dark_green: rgb(40, 180, 133);

$yellow: rgb(255, 185, 0);
$orange: rgb(255, 119, 48);

$light_blue: rgba(41, 152, 255, 0.8);
$dark_blue: rgb(0, 92, 204);

$purple: rgb(86, 67, 250);

$grey: #808080;