$light_green: rgba(126, 213, 111, 1);
$med_green: #55c57a;
$dark_green: rgba(40, 180, 133, 1);

$yellow: rgb(255, 185, 0);
$orange: #ff7730;

$light_blue: rgba(41, 152, 255, 0.81);
$dark_blue: rgb(0, 92, 204);

$purple: #5643fa;

$grey: #808080;