$light_green: rgb(139, 225, 124);
$med_green: #55c57a;
$dark_green: rgb(40, 180, 133);

$yellow: rgb(225, 164, 0);
$orange: rgb(225, 117, 47);

$light_blue: rgba(39, 131, 225, 0.8);
$dark_blue: rgba(0, 92, 204, 0.76);

$purple: rgb(79, 60, 225);

$grey: #808080;