@import "abstracts/mixins";

.about__pictures{
  grid-area: pictures;
  @include flex-center(column, space-evenly);
  position: relative;
  z-index: 11;
  &--me{
    transition: all 150ms;
    z-index: 1;
    position:absolute;
    right: 2%;
    bottom: -15rem;
    filter: drop-shadow( .5rem 1.5rem 1.5rem rgba(0, 0, 0, 0.5));
    -webkit-filter: drop-shadow( .5rem 1.5rem 1.5rem rgba(0, 0, 0, 0.5));
    &:hover{
      filter: drop-shadow( 1.5rem 2.5rem 1.5rem rgba(0, 0, 0, 0.6));
      -webkit-filter: drop-shadow( 1.5rem 2.5rem 1.5rem rgba(0, 0, 0, 0.6));
      transform: translateY(-10px);
    }
  }
}

@media only screen and (max-width: 601px) {
  .about__pictures{
    &--me{
      bottom: -20rem;
    }
  }
}
