@import "abstracts/variables";
@import "abstracts/mixins";


.page__layout{
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  grid-template-areas:
          'background'
          'pictures'
          'web'
          'student'
          'projects';
}
.page__container{
  background-color: #f9f9f9;
  //margin-top: -55vh;
  @include flex-center(column, flex-start);
}

.blank_space{
  padding-top: 25vh;
}