@import "abstracts/mixins";
@import "abstracts/variables";

.projects{
  width: 100%;
  padding-top: 14rem;
  margin-top: -30rem;
  grid-area: projects;
  height: 160rem;
  z-index: 7;
  background: linear-gradient(to bottom right, rgba(244, 46, 31, 0.71), rgba(247, 123, 126, 0.71)),
  url(../img/texture.jpg) fixed;
  clip-path: polygon(0 25vh, 100% 0, 100% calc(100% - 25vh), 0 100% );

  &__heading{
    font-family: 'Permanent Marker', cursive;
    text-align: right;
    text-transform: uppercase;
    margin-top: 20vh;
    color: white;
    font-size: 4rem;
    opacity: 0.4;
    margin-bottom: 2rem;
    padding-right: 2rem;
  }
  &__cards{
    padding: 2rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 4rem;
    grid-auto-rows: auto;
  }
}

.card{
  justify-self: center;
  perspective: 800px;
  -moz-perspective: 800px;
  position: relative;
  height: 400px;
  width: 290px;

  &__side{
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    text-align: center;
    transition: all 900ms ease;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    border-radius: 3px;
    box-shadow: 1rem 1.5rem 4rem rgba(black, 0.35);


    &--front{
      background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.81), rgba(255, 255, 255, 0.85)),
      url(../img/texture.jpg);
    }

    &--back{
      position: relative;
      color: white;
      font-size: 1.7rem;
      padding: 2rem;
      text-align: left;
      transform: rotateY(180deg);


      &-1{
        background-image: linear-gradient(to bottom right, rgba(255, 188, 0, 0.7), rgba(255, 96, 15, 0.7)),
        url(../img/texture.jpg);
      }

      &-2{
        background-image: linear-gradient(to bottom right, rgba(22, 147, 255, 0.7), rgba(42, 25, 250, 0.7)),
        url(../img/texture.jpg);;
      }

      &-3{
        background-image: linear-gradient(to bottom right, rgba(93, 213, 74, 0.7), rgba(3, 180, 123, 0.7)),
        url(../img/texture.jpg);;
      }
    }
  }

  &:hover &__side--front {
    transform :rotateY(-180deg);
  }

  &:hover &__side--back {
    transform :rotateY(0);
  }
}

.card__front--image{
  position: relative;
  background-blend-mode: screen;
  height: 40%;
  width: 100%;
  background-size: contain;
  clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100% );
  &-trash{
    background: linear-gradient(
                    to bottom right,
                    $yellow,
                    $orange),
    url(../img/trash_adventure.jpg) no-repeat center;
  }
  &-run{
    background: linear-gradient(
                    to bottom right,
                    $light_blue,
                    $dark_blue),
    url(../img/run_app.jpg) no-repeat center;
  }
  &-brooks_website{
    background: linear-gradient(
                    to bottom right,
                    $light_green,
                    $dark_green),
    url(../img/brooks_website.jpg) no-repeat center;
  }
  &-brooks_search{
    background: linear-gradient(
                    to bottom right,
                    $light_green,
                    $dark_green),
    url(../img/brooks_sign_in.jpg) no-repeat center;
  }
  &-you_pick{
    background: linear-gradient(
                    to bottom right,
                    $yellow,
                    $orange),
    url(../img/you_pick.jpg) no-repeat center;
  }
  &-expense{
    background: linear-gradient(
                    to bottom right,
                    $light_blue,
                    $dark_blue),
    url(../img/expense_app.jpg) no-repeat center;
  }
}
.card__front--title{
  color: white;
  position: absolute;
  font-size: 2.8rem;
  top: 25%;
  right: 2rem;
  text-align: right;
  opacity: 0.85;
  padding: 0.5rem 1rem;
  box-decoration-break: clone;
  &-1{
    background-image: linear-gradient(to right, $yellow, $orange);
  }

  &-2{
    background-image: linear-gradient(to right, $light_blue, $purple);
  }

  &-3{
    background-image: linear-gradient(to right, $light_green, $dark_green);
  }


}
.card__front--description{
  margin-top: 20%;
  padding: 1rem;

}

.card__button{
  width: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  bottom: 5rem;
  right: 0;
  left: 0;
  border-radius: 100px;
  text-decoration: none;
}



@media only screen and (max-width: 950px) {
  .projects {
    height: 1300px;
    &__cards {
      grid-template-columns: 1fr 1fr;
    }
  }
}


@media only screen and (max-width: 601px) {
  .projects {
    height: 2400px;
    &__cards {
      grid-template-columns: 1fr;
    }
  }
}