@import 'abstracts/mixins';

.web {
  width: 100%;
  grid-area: web;
  backface-visibility: hidden;
  background: linear-gradient(
      to bottom right,
      rgba(225, 245, 255, 0.7),
      rgba(0, 181, 255, 0.4),
      rgba(255, 134, 0, 0.76)
    ),
    url("https://i.imgur.com/n2t1wQd.jpg") fixed no-repeat center;
  z-index: -10;
  background-size: cover;
  clip-path: polygon(0 25vh, 100% 0, 100% calc(100% - 25vh), 0 100%);
  border-radius: 20px;
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.3);
  padding-bottom: 20%;
  &__heading {
    text-transform: uppercase;
    text-align: right;
    opacity: 0.6;
    padding-left: 2rem;
    padding-top: 35vh;
    font-size: 4rem;
    color: white;
    padding-right: 3rem;
  }
  &__paragraph-box {
    width: fit-content;
    background-color: #fdfdfd;
    @include flex-center(row, center);
    padding: 2rem 3rem;
    margin: 2rem 1rem;
    border-radius: 5px;
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.3);
  }
  &__paragraph {
    max-width: 500px;
    font-size: 1.7rem;
    text-align: center;
    color: #222222;
  }

  &__tech-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(200px, auto);
    padding: 0 3rem;
    margin-top: 85px;
    grid-gap: 3rem;
  }

  &__tech {
    position: relative;
    justify-self: center;
    transition: all 150ms;
    background: radial-gradient(circle at 25% 25%, #ffffff, #e1e1e1);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    @include flex-center(column, center);
    &--text {
      font-size: 1.8em;
      font-weight: 100;
      color: white;
      position: absolute;
      bottom: -30px; left: auto; right: auto;
    }
    &--javascript {
      width: 100px;
      height: 100px;
    }
    &--sass {
      width: 100px;
      height: 100px;
    }
    &--react {
      width: 100px;
      height: 100px;
    }
    &--redux {
      width: 100px;
      height: 100px;
    }
    &--firebase {
      width: 100px;
      height: 100px;
    }
    &--mongo {
      width: 140px;
    }
    &--docker {
      width: 100px;
      height: 100px;
    }
    &--node {
      width: 120px;
    }
    &--express {
      width: 120px;
    }
    &:hover {
      opacity: 1;
      transform: translateY(-7px);
    }
  }
}

@media only screen and (max-width: 601px) {
  .web {
    background: radial-gradient(#2d4761, #2b2f34);

    &__paragraph-box {
      margin: 2rem;
    }
    &__tech-box {
      grid-template-columns: 1fr 1fr;
      grid-gap: 1rem;
    }

    &__tech {
      width: 120px;
      height: 120px;
      &--javascript {
        padding-top: 5px;
        width: 80px;
        height: 80px;
      }
      &--sass {
        padding-top: 5px;
        width: 80px;
        height: 80px;
      }
      &--react {
        padding-top: 5px;
        width: 80px;
        height: 80px;
      }
      &--redux {
        padding-top: 5px;
        width: 80px;
        height: 80px;
      }
      &--firebase {
        padding-top: 5px;
        width: 80px;
        height: 80px;
      }
      &--mongo {
        width: 110px;
      }
      &--docker {
        width: 80px;
        height: 80px;
      }
      &--node {
        width: 100px;
      }
      &--express {
        width: 100px;
      }
    }
  }
}
