@import 'abstracts/mixins';

.web {
  width: 100%;
  grid-area: web;
  backface-visibility: hidden;
  background: linear-gradient(
      to bottom right,
      rgba(225, 245, 255, 0.7),
      rgba(0, 181, 255, 0.4),
      rgba(255, 134, 0, 0.76)
    ),
    url(../img/code.jpg) fixed no-repeat center;
  z-index: -10;
  background-size: cover;
  clip-path: polygon(0 25vh, 100% 0, 100% calc(100% - 25vh), 0 100%);
  border-radius: 20px;
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.3);
  padding-bottom: 20%;
  &__heading {
    text-transform: uppercase;
    text-align: right;
    opacity: 0.6;
    padding-left: 2rem;
    padding-top: 35vh;
    font-size: 4rem;
    color: white;
    padding-right: 3rem;
  }
  &__paragraph-box {
    width: fit-content;
    background-color: #fdfdfd;
    @include flex-center(row, center);
    padding: 2rem 3rem;
    margin: 2rem 1rem;
    border-radius: 5px;
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.3);
  }
  &__paragraph {
    max-width: 500px;
    font-size: 1.7rem;
    text-align: center;
    color: #222222;
  }

  &__tech-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(200px, auto);
    padding: 0 3rem;
    grid-gap: 3rem;
  }

  &__tech {
    justify-self: center;
    transition: all 150ms;
    backface-visibility: hidden;
    opacity: 0.8;
    @include flex-center(column, center);
    max-width: 270px;
    filter: grayscale(100%) drop-shadow(0 1rem 1.5rem rgba(0, 0, 0, 0.3));
    -webkit-filter: grayscale(100%) drop-shadow(0 1rem 1.5rem rgba(0, 0, 0, 0.3));
    &--title {
      font-size: 1.8em;
      font-weight: 100;
      color: white;
    }
    &--javascript {
      padding-top: 5px;
      width: 65%;
    }
    &--sass {
      padding-top: 5px;
      width: 65%;
    }
    &--react {
      padding-top: 5px;
      width: 65%;
    }
    &--redux {
      padding-top: 5px;
      width: 40%;
    }
    &--firebase {
      padding-top: 5px;
      width: 30%;
    }
    &--mongo {
      width: 75%;
    }
    &--docker {
      width: 45%;
    }
    &--node {
      width: 50%;
    }
    &--express {
      width: 65%;
    }
    &:hover {
      filter: grayscale(0%) drop-shadow(0 2rem 1.8rem rgba(0, 0, 0, 0.5));
      -webkit-filter: grayscale(0%) drop-shadow(0 2rem 1.8rem rgba(0, 0, 0, 0.5));
      opacity: 1;
      transform: translateY(-7px);
    }
  }
}

@media only screen and (max-width: 601px) {
  .web {
    background: radial-gradient(#2d4761, #2b2f34);

    &__paragraph-box {
      margin: 2rem;
    }
    &__tech-box {
      grid-template-columns: 1fr 1fr;
      grid-gap: 1rem;
    }

    &__tech {
      &--javascript {
        padding-top: 5px;
        width: 80px;
      }
      &--sass {
        padding-top: 5px;
        width: 80px;
      }
      &--react {
        padding-top: 5px;
        width: 80px;
      }
      &--redux {
        padding-top: 5px;
        width: 80px;
      }
      &--firebase {
        padding-top: 5px;
        width: 70px;
      }
      &--mongo {
        width: 140px;
      }
      &--docker {
        width: 90px;
      }
      &--node {
        width: 95px;
      }
      &--express {
        filter: invert(100%);
        -webkit-filter: invert(100%);
        width: 150px;
        margin-left: 125%;
        margin-top: -80px;
      }
    }
  }
}
